<!-- <p>home works!</p> -->

<!-- <input
  type="file"
  accept=".png, .jpg, .jpeg"
  multiple
  placeholder="upload files"
  id="uploadFiles"
  (change)="uploadsFiles($event)"
/>
<label for="uploadFiles" class="labelInputUploadFiles"> Subir imagenes </label>
<button nz-button nzType="primary" type="button">Primary Button</button> -->
<!-- <div *ngIf="photos">
  <img *ngFor="let photo of photos" [src]="photo.photoPath" alt="foto" />
</div> -->

<!--  -->
<!-- <div nz-row class="row" nzJustify="space-between">
  <div
    nz-col
    [nzSpan]="19"
    nzXl="19"
    nzMd="16"
    nzSm="24"
    nzXs="24"
    class="col map"
    id="map_col"
  >
    <app-map></app-map>
  </div>
  <div
    nz-col
    [nzSpan]="5"
    nzXl="5"
    nzMd="8"
    nzSm="24"
    nzXs="24"
    class="col auth"
  >
    <app-auth></app-auth>
  </div>
</div> -->

<app-view-map></app-view-map>
